[submodule "externals/Eigen"]
	path = externals/Eigen
	url = https://github.com/RLovelett/eigen
[submodule "externals/autodiff"]
	path = externals/autodiff
	url = https://github.com/autodiff/autodiff.git
